.dax {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url('../imgs/shutterstock_515761627.png') no-repeat center;
  background-size: cover;
  .dax-logo {
    text-align: center;
    .icon {
      display: inline-block;
      width: 164px;
      height: 40px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
    }
    .txt {
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 22px;
      display: block;
    }
  }
  .title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    padding: 40px 0 10px;
  }
  .description {
    color: #F1F2F4;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .learn-more {
    padding-top: 40px;
    text-align: center;
    display: block;
    clear: both;
    a {
      background-color: #2ECC71;
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      width: 177px;
      line-height: 48px;
      padding: 0;
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: center right;
    .learn-more {
      padding-top: 20px;
    }
    .title {
      line-height: 38px;
      font-size: 32px;
      padding: 40px 0 20px;
    }
  }
}