.top-section {
  position: relative;
  padding-bottom: 300px;
  padding-top: 70px;
  & > .container {
    position: relative;
    z-index: 5;
  }
  .background-wrapper {
    .background-color {
      background-color: #1D1D1E;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .path {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      overflow: hidden;
    }
    .path-3:before,
    .path-1:before,
    .path-2:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    .path-1 {
      &:before {
        width: 68vw;
        left: -11vw;
        background: url('../imgs/Path 2.svg') no-repeat center 26%;
        background-size: contain;
      }
    }
    .path-2 {
       &:before {
        width: 60vw;
        left: -11vw;
        background: url('../imgs/Path 4.svg') no-repeat center center;
        background-size: contain;
      }
    }
    .path-3 {
      &:before {
        right: -20vw;
        left: 20vw;
        background: url('../imgs/Path 3.svg') no-repeat center 25%;
        background-size: contain;
      }
    }
    .path-4 {
      background: url('../imgs/Path 5.svg') no-repeat center center;
      background-size: contain;
    }

  }
  .the-impact-of-the-ge {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 500;
    line-height: 61px;
    margin-bottom: 40px;
    padding-top: 85px;
  }
  .btn-impact-wrapper {
    a {
      padding: 0;
      line-height: 48px;
      height: 48px;
    }
    a:last-child {
      width: 290px;
      border: 2px solid rgba(255,255,255,0.4);
      border-radius: 100px;
      background-color: rgba(255,255,255,0.2);
      margin-left: 20px;
      @media all and (max-width: 1150px) {
        display: block;
        margin: 15px 0;
      }
    }
    a:first-child {
      width: 200px;
    }
  }
  .head {
    .title {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      line-height: 29px;
    }
  }
  .question-btn {
    cursor: pointer;
    position: relative;
}

.question-btn:before {
	content: '';
	display: none;
	position: absolute;
	width: 17px;
	height: 14px;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -6px);
	border-top: 7px solid transparent;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	border-bottom: 7px solid #FFFFFF;
}

.title {
    position: relative;
}
.description {
  color: #FFFFFF;	
  font-family: Roboto;	
  font-size: 14px;	
  line-height: 16px;
  padding-top: 10px;
}
  .question {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    max-width: 470px;
    border-radius: 4px;
    padding: 40px 35px;
    background-color: #FFFFFF;
    box-shadow: 0 20px 50px 0 rgba(65, 76, 114, 0.15);
    p {
      color: #8B8EA8;
      font-family: Roboto;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      font-weight: normal;
      span {
        display: block;
        color: #42455A;
        padding-top: 10px;
      }
    }
  }
  .question-btn:hover:before {
    display: inline-block;
  }
  .question-btn:hover + .question {
    display: inline-block;
  }
  .frame-container {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: relative;
      padding-top: 60%;
    }
  }
  @media all and (max-width: 767px) {
  	padding-top: 0;
  	position: relative;
  	z-index: 0;
    padding-bottom: 0;
  	.custom-btn {
		font-size: 16px;
  	}
  	.the-impact-of-the-ge {
  		padding-top: 40px;;
  		padding-bottom: 20px;
  		font-size: 38px;	
  		font-weight: 500;	
  		line-height: 44px;
		margin-bottom: 0;
  	}
  	.btn-impact-wrapper {
      & > div {
        display: inline-block;
        a,
        a:last-child {
          margin: 0 0 20px 0;
        }
      }
    }
  	.background-mobile {
  		background: url(../imgs/Germany.png) no-repeat center center;
    	background-size: cover;
  		padding-bottom: 154px;
		&:after {
			content: '';
			background-color: #1D1D1E;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 155px;
			background: url('../imgs/Path 4.svg') no-repeat center center, url('../imgs/Path 3.svg') no-repeat center center, url('../imgs/Path 5.svg') no-repeat center center;
        	background-size: contain;
		}
  	}
  	.background-mobile + div{
		background-color: #1D1D1E;
		padding-bottom: 220px;
  	}
  	.background-wrapper {
  		display: none;
  	}
  	.head .title {
  		padding-top: 40px;
  	}
  	.frame-container:before {
  		padding-top: 75%;
  	}
  }
}